@media screen and (max-width: 1800px) {
    .information{
        text-align: left;
        margin: 1% 0 0 26%;
    }
    .br_1 br{
        display: inline-block;
        content: " ";
        padding: 0 2px;
     }
     .br_2 br{
        display: inline-block;
        content: " ";
        padding: 0 2px;
     }
}
@media screen and (max-width: 1500px) {
    .content_3{
        font-family: 'S-CoreDream-5heady';
        font-size: 15px;
        margin: 0 0 0 270px;
    }
    .text-line_3 span::after{
        content:"";
        position: absolute;
        bottom: 10px;
        left:6px;
        width:100%;
        height: 1px;
        background-color: #000;
    }
}
@media screen and (max-width: 1400px) {
    .main_text{
        margin: 0 0 0 35px;
    }
    .eyes{
        display: block;
        margin: -15% 0 0 60%;
        padding: 0 0 6px 0;
        border-bottom: 2px solid #000;
    }
    .eyes_text{
        font-family: 'S-CoreDream-2Light';
        font-size: 0.8rem;
        display: inline;
    }
    .eyes_img{
        display: inline;
        width: 80%;
        height: auto;
    }
    .eyes_img img{
        display: inline;
        width: 10%;
        height: auto;
    }
    .main_name{
        font-family: 'S-CoreDream-5heady';
        font-size: 20px;
        letter-spacing: 5px;
        margin: 1% 0 0 60%;
    }
    .information_1 , .information_2 , .information_3 , .information_4 , .information_5{
        font-size: 20px;
    }
    .main_title , .main_title_2{
        font-size: 30px;
        margin: 8% auto 2% auto;
    }
    .text-line , .content_2{
        font-size: 15px;
        margin: 10px auto 0 auto;
    }
    .text-line span::after{
        content:"";
        position: absolute;
        bottom: 10px;
        left:6px;
        width:100%;
        height: 1px;
        background-color: #000;
    }
    .text-line_2 span::after{
        content:"";
        position: absolute;
        bottom: 10px;
        left:6px;
        width:100%;
        height: 1px;
        background-color: #000;
    }
    .skills_img{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .skills_img img{
        width: 50%;
        height: auto;
        text-align: center;
    }
    .thing_img{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .thing_img img{
        width: 40%;
        height: auto;
        text-align: center;
    }
    .cat{
        width: 100%;
        height: auto;
        overflow: hidden;
        display: inline;
    }
    .cat img{
        max-width: 55%;
        height: auto;
        display: inline;
        margin: -150% 0 0 49%;
    }
    .end_name{
        font-family: 'S-CoreDream-8heady';
        text-align: center;
        margin-top: -370px;
        letter-spacing: 15px;
        font-size: 12px;
    }
    .end_thank{
        font-family: 'Canbera';
        text-align: center;
        font-size: 105px;
        margin-top: 60px;
    }
    .content_3{
        font-family: 'S-CoreDream-5heady';
        font-size: 15px;
        margin: 0 0 0 160px;
    }
    .text-line_3 span::after{
        content:"";
        position: absolute;
        bottom: 10px;
        left:6px;
        width:100%;
        height: 1px;
        background-color: #000;
    }
}
@media screen and (max-width: 1100px) {
    .content_3{
        font-family: 'S-CoreDream-5heady';
        font-size: 10px;
        margin: 0 0 0 170px;
    }
    .text-line_3 span::after{
        content:"";
        position: absolute;
        bottom: 5px;
        left:6px;
        width:100%;
        height: 1px;
        background-color: #000;
    }
}
@media screen and (max-width: 950px) {
    .content_3{
        font-family: 'S-CoreDream-5heady';
        font-size: 8px;
        margin: 0 0 0 100px;
    }
    .text-line_3 span::after{
        content:"";
        position: absolute;
        bottom: 5px;
        left:6px;
        width:100%;
        height: 1px;
        background-color: #000;
    }
    .cat{
        width: 100%;
        height: auto;
        overflow: hidden;
        display: inline;
    }
    .cat img{
        max-width: 50%;
        height: auto;
        display: inline;
        margin: -39% 0 0 49%;
    }
    .black_background{
        margin: -5230px 0 380px 0;
        border: 1500px solid #000;
        background-attachment: fixed;
    }
}
@media screen and (max-width: 600px) {
    .information_1 , .information_2 , .information_3 , .information_4 , .information_5{
        font-size: 15px;
    }
    .main_title , .main_title_2{
        font-size: 23px;
        margin: 8% auto 2% auto;
    }
    .text-line , .content_2{
        font-size: 12px;
        margin: 10px auto 0 auto;
    }
    .text-line span::after{
        content:"";
        position: absolute;
        bottom: 7px;
        left:6px;
        width:100%;
        height: 1px;
        background-color: #000;
    }
    .text-line_2 span::after{
        content:"";
        position: absolute;
        bottom: 7px;
        left:6px;
        width:100%;
        height: 1px;
        background-color: #000;
    }
    .end_name{
        font-family: 'S-CoreDream-8heady';
        text-align: center;
        margin-top: -370px;
        letter-spacing: 15px;
        font-size: 7px;
    }
    .end_thank{
        font-family: 'Canbera';
        text-align: center;
        font-size: 75px;
        margin-top: 60px;
    }
    .content_3{
        font-family: 'S-CoreDream-5heady';
        font-size: 8px;
        margin: 40px 0 0 78px;
    }
    .text-line_3 span::after{
        content:"";
        position: absolute;
        bottom: 5px;
        left:6px;
        width:100%;
        height: 1px;
        background-color: #000;
    }
    .cat{
        width: 100%;
        height: auto;
        overflow: hidden;
        display: inline;
    }
    .cat img{
        max-width: 50%;
        height: auto;
        display: inline;
        margin: -59% 0 0 49%;
    }
    .black_background{
        margin: -5190px 0 380px 0;
        border: 1500px solid #000;
        background-attachment: fixed;
    }
}