html{height: 100%;}
body{
    height: 100%;
    background-color: #EA6814;
    margin:0;
}
/*---font---*/
@font-face{ 
    font-family: 'S-CoreDream-2Light';
    src: url('./font/S-Core_Dream_OTF/SCDream2.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-5heady';
    src: url('./font/S-Core_Dream_OTF/SCDream5.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-8heady';
    src: url('./font/S-Core_Dream_OTF/SCDream8.otf') format('OpenType');
}
@font-face{ 
    font-family: 'Canbera';
    src: url('./font/canbera/canbera.otf') format('OpenType');
}
@media screen and (max-width: 1000px){
    .main_img{
        width: 100%;
    }
}
/*---media quary---*/
@media screen and (min-width: 1800px) {
    .sunset_bubble{
        width: 100%;
        height: auto;
        overflow: hidden;
        position: fixed;
        margin: 4% 0 0 4%;
    } 
}
@media screen and (min-width: 2600px) {
    .main_img{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .sunset_bubble{
        width: 50%;
        height: auto;
        overflow: hidden;
        position: fixed;
        margin: 11% 0 0 11%;
    }
}
@media screen and (max-width: 3700px) {
    .br_1 br{
        display: inline-block;
        content: " ";
        padding: 0 2px;
     }
     .br_2 br{
        display: inline-block;
        content: " ";
        padding: 0 2px;
     }
    .information_1{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        background-color: #000;
        color: #fff;
        padding: 3px 8px 3px 8px;
        border: 2px solid #000;
        display: inline;
        margin: 210px 0 6px 0;
    }
    .information_2{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        background-color: #000;
        color: #fff;
        padding: 3px 8px 3px 8px;
        border: 2px solid #000;
        display: inline;
        margin-bottom: 6px;
    }
    .information_3{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        padding: 3px 6px 3px 6px;
        border: 2px solid #000;
        display: inline-block;
    }
    .information_4{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        padding: 3px 6px 3px 6px;
        border: 2px solid #000;
        display: inline-block;
        margin-bottom: 6px;
    }
    .information_5{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        padding: 3px 6px 3px 6px;
        border: 2px solid #000;
        display: inline-block;
    }
}
@media screen and (max-width: 3000px) {
    .br_1 br{
        display: inline-block;
        content: " ";
        padding: 0 2px;
     }
     .br_2 br{
        display: inline-block;
        content: " ";
        padding: 0 2px;
     }
    .information_1{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        background-color: #000;
        color: #fff;
        padding: 3px 8px 3px 8px;
        border: 2px solid #000;
        display: block;
        margin: 210px 0 6px 0;
    }
    .information_2{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        background-color: #000;
        color: #fff;
        padding: 3px 8px 3px 8px;
        border: 2px solid #000;
        display: inline-block;
        margin-bottom: 6px;
    }
    .information_3{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        padding: 3px 6px 3px 6px;
        border: 2px solid #000;
        display: inline-block;
    }
    .information_4{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        padding: 3px 6px 3px 6px;
        border: 2px solid #000;
        display: inline-block;
        margin-bottom: 6px;
    }
    .information_5{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        padding: 3px 6px 3px 6px;
        border: 2px solid #000;
        display: inline-block;
    }
}
@media screen and (max-width: 2600px) {
.information_1{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    background-color: #000;
    color: #fff;
    padding: 3px 8px 3px 8px;
    border: 2px solid #000;
    display: inline;
    margin: 200px 0 6px 0;
}
.information_2{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    background-color: #000;
    color: #fff;
    padding: 3px 8px 3px 8px;
    border: 2px solid #000;
    display: inline;
    margin-bottom: 6px;
}
.information_3{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #000;
    display: inline-block;
}
.information_4{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #000;
    display: inline-block;
    margin-bottom: 6px;
}
.information_5{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #000;
    display: inline-block;
}
}
@media screen and (max-width: 1900px) {
    .information_1{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        background-color: #000;
        color: #fff;
        padding: 3px 8px 3px 8px;
        border: 2px solid #000;
        display: inline;
        margin: 90px 0 6px 0;
    }
    .information_2{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        background-color: #000;
        color: #fff;
        padding: 3px 8px 3px 8px;
        border: 2px solid #000;
        display: inline;
        margin-bottom: 6px;
    }
    .information_3{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        padding: 3px 6px 3px 6px;
        border: 2px solid #000;
        display: inline-block;
    }
    .information_4{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        padding: 3px 6px 3px 6px;
        border: 2px solid #000;
        display: inline-block;
        margin-bottom: 6px;
    }
    .information_5{
        font-family: 'S-CoreDream-8heady';
        font-size: 30px;
        padding: 3px 6px 3px 6px;
        border: 2px solid #000;
        display: inline-block;
    }
}
@media screen and (max-width: 1150px) {
    .history{
        padding: 0 -50% 0 0;
        margin: 0 50% 0 0;
        color:aqua;
        display: block;
    }
    .history_text{
        display: inline-block;
        font-size: 18px;
    }
}
/*---main page---*/
.main_img{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 30% 0 0 0;
}
.main_img img{
    max-width: 100%;
    height: auto;
    display: inline;
    text-align: center;
}
.sunset_bubble{
    width: 50%;
    height: auto;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}
.sunset_bubble img{
    max-width: 50%;
    height: auto;
    display: inline-block;
    margin: -25% 0 0 28%;
    position: fixed;
}
.main_text{
    margin: 0 0 0 35px;
}
.eyes{
    display: block;
    margin: -8% 0 0 60%;
    padding: 0 0 6px 0;
    border-bottom: 5px solid #000;
}
.eyes_text{
    font-family: 'S-CoreDream-2Light';
    font-size: 25px;
    display: inline;
}
.eyes_img{
    display: inline;
}
.main_name{
    font-family: 'S-CoreDream-5heady';
    font-size: 40px;
    letter-spacing: 5px;
    margin: 1% 0 0 60%;
}
.me{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: -2% 0 0 -6%;
}
.me img{
    max-width: 100%;
    height: auto;
    display: inline;
    text-align: center;
}
.information{
    text-align: left;
    margin: -5% 0 0 61%;
}
.information_1{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    background-color: #000;
    color: #fff;
    padding: 3px 8px 3px 8px;
    border: 2px solid #000;
    display: inline-block;
    margin-bottom: 6px;
}
.information_2{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    background-color: #000;
    color: #fff;
    padding: 3px 8px 3px 8px;
    border: 2px solid #000;
    display: inline-block;
    margin-bottom: 6px;
}
.information_3{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #000;
    display: inline-block;
}
.information_4{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #000;
    display: inline-block;
    margin-bottom: 6px;
}
.information_5{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #000;
    display: inline-block;
}
/*---history---*/
.history{
    margin: 0 30% 0 0;
}
.main_title{
    font-family: 'S-CoreDream-2Light';
    font-size: 45px;
    text-align: center;
    margin: 60px 0 70px -6%;
    letter-spacing: 3px;
}
.text-line{
    font-family: 'S-CoreDream-5heady';
    font-size: 25px;
    margin: -20px 0 0 200px;
    letter-spacing: 4px;
    text-align: center;
}
.text-line span{
    position: relative;
    margin-right: 10px;
}
.text-line span::after{
    content:"";
    position: absolute;
    bottom: 17px;
    left:6px;
    width:100%;
    height: 1px;
    background-color: #000;
}
.content{
    margin: 0 0 20px 0;
}
.content_2{
    font-family: 'S-CoreDream-5heady';
    font-size: 25px;
}
.history_text{
    display: inline-block;
}
