html{height: 100%;}
body{
    height: 100%;
    background-color: #EA6814;
    margin:0;
}
/*---font---*/
@font-face{ 
    font-family: 'S-CoreDream-2Light';
    src: url('./font/S-Core_Dream_OTF/SCDream2.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-5heady';
    src: url('./font/S-Core_Dream_OTF/SCDream4.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-8heady';
    src: url('./font/S-Core_Dream_OTF/SCDream8.otf') format('OpenType');
}
@font-face{ 
    font-family: 'Canbera';
    src: url('./font/canbera/canbera.otf') format('OpenType');
}
@media screen and (max-width: 1000px){
    .main_img{
        width: 100%;
    }
}
/*---main page---*/
.main_img{
    width: 80%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: -10% 0 0 0;
}
.main_img img{
    max-width: 80%;
    height: auto;
    display: inline;
    text-align: center;
}
.sunset_bubble{
    width: 50%;
    height: auto;
    overflow: hidden;
    margin: 2% 0 0 32%;
    position: relative;
}
.sunset_bubble img{
    max-width: 50%;
    height: auto;
    display: block;
}
.main_text{
    margin: 0 0 0 35px;
}
.eyes{
    display: block;
    margin: -8% 0 0 60%;
    padding: 0 0 6px 0;
    border-bottom: 5px solid #000;
}
.eyes_text{
    font-family: 'S-CoreDream-2Light';
    font-size: 1.5rem;
    display: inline;
}
.eyes_img{
    display: inline;
}
.main_name{
    font-family: 'S-CoreDream-5heady';
    font-size: 2.8rem;
    letter-spacing: 5px;
    margin: 1% 0 0 60%;
}
.me{
    width: 80%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: -6% 0 0 -12%;
}
.me img{
    max-width: 80%;
    height: auto;
    display: inline;
    text-align: center;
}
.information{
    text-align: left;
    margin: -12% 0 0 61%;
}
.information_1{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    background-color: #000;
    color: #fff;
    padding: 3px 8px 3px 8px;
    border: 2px solid #000;
    display: inline-block;
    margin-bottom: 6px;
}
.information_2{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    background-color: #000;
    color: #fff;
    padding: 3px 8px 3px 8px;
    border: 2px solid #000;
    display: inline-block;
    margin-bottom: 6px;
}
.information_3{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #000;
    display: inline-block;
    background-color: #EA6814;
}
.information_4{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #000;
    display: inline-block;
    margin-bottom: 6px;
    background-color: #EA6814;
}
.information_5{
    font-family: 'S-CoreDream-8heady';
    font-size: 30px;
    padding: 3px 6px 3px 6px;
    border: 2px solid #000;
    display: inline-block;
    background-color: #EA6814;
}
/*---history---*/
.history{
    text-align: center;
}
.main_title{
    font-family: 'S-CoreDream-2Light';
    font-size: 45px;
    text-align: center;
    margin: 8% auto 2% auto;
    letter-spacing: 3px;
    display: inline-block;
}
.text-line{
    font-family: 'S-CoreDream-5heady';
    font-size: 25px;
    margin: -20px auto 0 auto;
    letter-spacing: 4px;
    text-align: center;
}
.text-line span{
    position: relative;
    margin-right: 10px;
}
.text-line span::after{
    content:"";
    position: absolute;
    bottom: 17px;
    left:6px;
    width:100%;
    height: 1px;
    background-color: #000;
}
.text-line_2{
    font-family: 'S-CoreDream-5heady';
    font-size: 25px;
    margin: -20px auto 0 auto;
    letter-spacing: 4px;
    text-align: center;
}
.text-line_2 span{
    position: relative;
    margin-right: 10px;
}
.text-line_2 span::after{
    content:"";
    position: absolute;
    bottom: 17px;
    left:6px;
    width:100%;
    height: 1px;
    background-color: #000;
}
.content{
    margin: 0 0 20px 0;
}
.content_2{
    font-family: 'S-CoreDream-5heady';
    font-size: 25px;
}
.history_text{
    display: inline-block;
}
.main_title_2{
    font-family: 'S-CoreDream-2Light';
    font-size: 45px;
    text-align: center;
    margin: 5% auto 1% auto;
    letter-spacing: 3px;
    display: block;
}
.skills_img{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 2% 0 0 0;
}
.skills_img img{
    max-width: 100%;
    height: auto;
    display: inline;
    text-align: center;
}
.thing_img{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 2% 0 0 0;
    position: relative;
    z-index: 2;
}
.thing_img img{
    max-width: 100%;
    height: auto;
    display: inline;
    text-align: center;
}
.movie_light{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline;
}
.movie_light img{
    max-width: 100%;
    height: auto;
    display: inline;
    margin: -8% 0 0 49%;
    position: relative;
    z-index: -1;
}
.cat{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline;
}
.cat img{
    max-width: 100%;
    height: auto;
    display: inline;
    margin: -27% 0 0 49%;
}
/*---black background---*/
.black_background{
    margin: -5300px 0 380px 0;
    border: 1500px solid #000;
    background-attachment: fixed;
}
.black_title_1{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top: 300px;
    left: -220px;
}
.black_img_1{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -105px;
    left: 80px;
}
.black_img_2{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -310px;
    left: 281px;
}
.black_img_3{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -316px;
    left: 80px;
}
.black_img_4{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -522px;
    left: 281px;
}
.black_img_5{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -524px;
    left: -326px;
}
.black_title_2{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top: -733px;
    left: 75px;
}
.black_img_6{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -737px;
    left: -326px;
}
.black_img_7{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -943px;
    left: -126px;
}
.black_img_8{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -1148px;
    left: 74px;
}
.black_img_9{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -1153px;
    left: -126px;
}
.black_img_10{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -1359px;
    left: 274px;
}
.black_title_3{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top: -1365px;
    left: 172px;
}
.black_img_11{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -1371px;
    left: -128px;
}
.black_img_12{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -1576px;
    left: 73px;
}
.black_img_13{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -1781px;
    left: 272px;
}
.black_title_4{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top: -1788px;
    left: -226px;
}
.black_img_14{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -1993px;
    left: 73px;
}
.black_img_15{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -2197px;
    left: 272px;
}
.black_img_16{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -2203px;
    left: -130px;
}
.black_title_5{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top: -2411px;
    left: 72px;
}
.black_img_17{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -2616px;
    left: -127px;
}
.black_img_18{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: -2619px;
    left: 75px;
}

/*---end page---*/
.end_name{
    font-family: 'S-CoreDream-8heady';
    text-align: center;
    margin-top: -370px;
    letter-spacing: 25px;
    font-size: 15px;
}
.end_thank{
    font-family: 'Canbera';
    text-align: center;
    font-size: 125px;
    margin-top: 60px;
}
.end_img{
    width: 80%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 1% 0 3% 10%;
}
.end_img img{
    max-width: 80%;
    height: auto;
    display: inline;
    text-align: center;
}
.text-line_3 span{
    position: relative;
    margin-right: 10px;
}
.text-line_3 span::after{
    content:"";
    position: absolute;
    bottom: 17px;
    left:6px;
    width:100%;
    height: 1px;
    background-color: #000;
}
.text-line_3{
    font-family: 'S-CoreDream-8heady';
    font-size: 25px;
    margin: -20px auto 0 auto;
    letter-spacing: 4px;
    text-align: center;
    text-align: left;
}
.text-line_3 span{
    position: relative;
    margin-right: 10px;
}
.text-line_3 span::after{
    content:"";
    position: absolute;
    bottom: 17px;
    left:6px;
    width:100%;
    height: 1px;
    background-color: #000;
}
.content_3{
    font-family: 'S-CoreDream-5heady';
    font-size: 20px;
    margin: 0 0 0 420px;
}
.end_text{
    display: inline-block;
    font-family: 'S-CoreDream-8heady';
    letter-spacing: 5px;
    margin: 0 0 0 2px;
}
.end_logo{
    width: 80%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 2% 0 -10% 10%;
}
.end_logo img{
    max-width: 80%;
    height: auto;
    display: inline;
    text-align: center;
}